/* Navigatiom */
#navbar{
    flex-direction: column;
}
 #navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/*home section*/
#home{
    height: 662px;
    padding: 3px 68px;
   
}
#home::before{
    height: 766px;
   
}
 #home p{
    font-size: 13px ;
 }



/*services section*/
#services{
    flex-direction: column;
    margin: 5px;

}
#services.box{
    padding: 14px;
    margin: 2px 15px;
    margin-bottom: 20px;

}



/*clients section */
#clients{
   flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 2px 0px;
    height: auto;

}

/*contact section*/
#contact-box form{
    width:80%;
}

/*utility classes*/
.h-primary{
    font-size: 34px;
    
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}

/home css 12