/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

/* CSS VARIABLES */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */ 
#navbar{
     display: flex;
     align-items: center;
     position: sticky;
     top: 0px;
} 

/*  Navigation Bar: Logo and Images */
#logo{
    margin: 10px 34px;
}

#logo img{
border-radius: 50px;               
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List styling */ 

#navbar ul{
    display: flex;
}

#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    /* color : white */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
} 

#navbar ul li a:hover{
    color: black;
    background-color: white;

}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 525px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content:"";
    position: absolute;
    background: url('/bg2.jpg') no-repeat center center/cover;
    height: 642px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: black;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Bree Serif',serif;

}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif',serif;
}

/* services Section*/
#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border:2px solid brown;
    padding: 34px;
    margin: 6px 32px;
    border-radius: 28px;
    background: whitesmoke;


}

#services .box img{
    height: 110px;
    margin: auto;
    display: block;
}

#services .box p{
    font-family: 'Bree Serif',serif;
    
}


/* Clinet section*/
#client-section{
    position: relative;
    

}

#client-section::before{
content: "";
position: absolute;
background:url('pic1.jpg') no-repeat center center/cover;
height: 100%;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.4;
}


#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
}

.client-item{
    padding: 34px;
    height: 34px;
}

/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('pic9.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#conbtact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}



footer{
    background: black;
    color: white;
    align-items: center;
    padding:9px 20px;
}




/* Utility Class*/
.h-primary{
    font-family: 'Bree Serif',serif;
    font-size: 7.8rem;
    padding: 12px;
    text-align: center;     
}
 
.h-secondary{
    font-family: 'Bree Serif',serif;
    font-size: 2.1rem ;
    padding: 12px ;
    text-align: center;

}

.btn{
    padding: 10px 20px;
    border: 5px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5 rem;
    border-radius: 42px;
    cursor: pointer;
}

.center{
    text-align: "center"; 
}